.App {
  font-family: sans-serif;
  text-align: center;
  background-image: url("https://64.media.tumblr.com/0afb4a286ed5ff1e87e5001e53bd9af0/98579c4338c82b96-60/s1280x1920/31ebbd73a1f3eeb374f60e93915c0d607fa494e7.jpg");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: whitesmoke;
}

:root {
  --primary-color: rgb(26, 25, 25);
  --font-color: rgb(252, 11, 11);
}

body {
  margin: 0;
  padding: 0;
}

.navigation {
  background-color: var(--primary-color);
  margin: 0rem;
  top: 0;
  padding: 1rem;
}

.button {
  margin: 0.4rem;
  margin-top: 1rem;
  width: 140px;
  color: red;
  border-style: none;
  outline-color: red;
  font-size: large;
  font-weight: bold;
  height: 35px;
  border-radius: 0.8rem;
  background-color: var(--primary-color);
}

section {
  margin: auto;
  margin-top: 3rem;
  max-width: 600px;
  font-size: large;
  color: white;
}

.image {
  /* position: relative;
  display: block;
  width: 650px; */
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 0.5rem;
}
img:hover {
  box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
}

imageArea {
  padding: 1rem;
}
.mainArea {
  margin-bottom: 4rem;
}

footer {
  background-color: var(--primary-color);
  margin: auto;
  max-width: 100%;
  padding: 2rem;
}
